<template name="playercard">
	<div class="cardarea">
    {{#each findCard}}
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">{{name}} - #{{bnetid}} - {{_id}}</span>
          <p>{{rank}}</p>
          <p>{{race}}</p>
          <p>{{description}}</p>
          </div>
      </div>
    {{/each}}
  </div>
</template>

<template name="profilecard">
  <div class="cardarea">
    {{#with findOneCard}}
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">{{name}} - #{{bnetid}} - {{_id}}</span>
          <p>{{rank}}</p>
          <p>{{race}}</p>
          <p>{{description}}</p>
          </div>
      </div>
    {{/with}}
  </div>
</template>

