<template name="playerform">

  {{#if loggedIn}}
    {{#with playerData}}
      {{>playercard}}
    {{/with}}
      <a class="btn edit">Edit Info</a>
      <a class="btn logout">Logout</a>
  {{else}}
    <div class="card grey lighten-3">
      <div class="card-content black-text">
        <div class="row">
          <div class="col s12">
            <span class="heading">Get listed as Online.</span>
          </div>
        </div>

        <form name="playerForm"> <!-- you need to update card appearance if logged in -->
          <div class="row">
            <div class="input-field col s6">
              <input id="name" name="name" type="text" placeholder="MojoJJ" required maxlength="12" minlength="3">
              <label class="active" for="name">Your BattleTag</label>
            </div>
            <div class="input-field col s6">
              <input id="bnetid" name="bnetid" type="number" placeholder="153" max="10000" required>
              <label class="active" for="bnetid">Your ID #</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <select class="browser-default" required name="race" id="race">
                <option value="" disabled selected>Select Your Race</option>
                <option value="random">Random</option>
                <option value="protoss">Protoss</option>
                <option value="terran">Terran</option>
                <option value="zerg">Zerg</option>
              </select>
            </div>
          </div>

            <div class="row">
              <div class="col s12 center-align">
                <input type="submit" class="waves-effect waves-light btn amber" value="Go Online">
              </div>
            </div>
        </form>
      </div>
    </div>
  {{/if}}

  <!-- Modal Structure -->
  <div id="modalEdit" class="modal bottom-sheet">
    <div class="modal-content">
    {{#if loggedIn}}
      {{#with playerData}}
        {{>modalform}}
      {{/with}}
    {{/if}}
    </div>
  </div>
</template>