.player-list .flex {
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

// Shorten the race names in tab on small screens
.player-list .race-name-small.race-selector{
  display: block;
}
.player-list .race-name.race-selector{
  display: none;
}

@media (min-width:500px){
  .player-list .race-name-small.race-selector{
    display: none;
  }
  .player-list .race-name.race-selector{ 
    display: block;
  }
}


