<template name="playercard">
    {{#each findCard}}
      <div class="card player-card {{race}}">
        <div class="card-content">
          <!-- <span class="card-title" ng-if="ctrl.self === 'true'">You Are Logged In As</span> -->
          <div class="status">
            <span class="title" title="click to view battle.net profile">
              <a class="profile-url">
                <span>{{name}}</span>
                #
                <span>{{bnetid}}</span>
              </a>
            </span>
            <span class="online" title="This player is online"><i class="material-icons">power_settings_new</i></span>
          </div>
          <span class="player-badges">
            <span class="race">{{race}}</span> - 
            <span class="league">{{rank}}</span>
          </span>
          <p class="text">{{description}}</p>
        </div>
      </div>
    {{/each}}
</template>

<template name="profilecard">
  {{#with findOneCard}}
      <div class="card player-card {{race}}">
        <div class="card-content">
          <!-- <span class="card-title" ng-if="ctrl.self === 'true'">You Are Logged In As</span> -->
          <div class="status">
            <span class="title" title="click to view battle.net profile">
              <a class="profile-url">
                <span>{{name}}</span>
                #
                <span>{{bnetid}}</span>
              </a>
            </span>
            <span class="online" title="This player is online"><i class="material-icons">power_settings_new</i></span>
          </div>
          <span class="player-badges">
            <span class="race">{{race}}</span> - 
            <span class="league">{{rank}}</span>
          </span>
          <p class="text">{{description}}</p>
        </div>
      </div>
  {{/with}}
    <a class="btn edit">Edit Info</a>
    <a class="btn logout">Logout</a>
</template>



