<template name="header">
<header>
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 l8">
          <h3 class="heading">Find your Archon Partner</h3>
            <ol class="lead-in-text">
              <li>Enter your player info and get listed</li>
              <li>Leave this site open, others will see you as 'Online'</li>
              <li>Your Archon partner will message you in-game</li>
            </ol>
        </div>
        <div class="col s12 m6 l4">
          {{> playerform}}
        </div>
      </div>
    </div>
</header>
</template>